@font-face {
  font-family: 'FuturaLTProMedium';
  src: url('../assets/FuturaLTProMedium.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: auto;
  padding: 0;
  overflow: hidden;
  font-family: 'FuturaLTProMedium', sans-serif;
}

#output-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  /* This is the capture render canvas! the live is #live-canvas  */
}

.button-class {
  z-index: 999;
  position: absolute;

  height: 50px;
  width: 100px;
  font-size: 1.5em;
}

.select-menu {
  position: absolute;
  top: 20px;
  z-index: 100;
  height: 50px;
}

.select-menu>select {
  max-width: 200px;
  height: 100%;
  font-size: 1.5em;
}



.flamingo-logo>img {
  width: 300px;
}

.poweredbysnap-logo {
  width: 100%;
  /* bottom: 0.5vh; */
  display: flex;
  align-items: center;
  /* justify-content: center; */
  z-index: 1;
}

.poweredbysnap-logo>img {
  width: 8vh;
  opacity: 0.8;
  margin: 0 0 0.5vh 1vh;
}

#flip {
  z-index: 1;
}

.reverse-cam {
  position: absolute;
  bottom: 1px;
  right: 1px;
  scale: 0.5;
  z-index: 1;
}

* {
  touch-action: manipulation;
}

#intro-bg {
  width: 100%;
  /* height: 100%; */
  z-index: 1;
  /* position: absolute; */
  /* background-image: url("../assets/blur-bg.png"); */
  ;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* #intro-card { */
/* width: 80%;
  height: 100%;
  max-width: 720px;
  background-color: #EEEEEE;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; */



/* background-color: red; */
/* -webkit-box-shadow:0px 0px 48px 6px rgba(0,0,0,0.9);
  -moz-box-shadow: 0px 0px 48px 6px rgba(0,0,0,0.9);
  box-shadow: 0px 0px 48px 6px rgba(0,0,0,0.9); */
/* } */

#intro-card {
  /* aspect-ratio: 9/16; */
  background-color: #EEEEEE;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  /* These two lines ensure the card never exceeds the viewport */
  /* max-width: min(80vw, 720px); */
  /* max-height: 100vh; */
  /* This ensures the card is as big as possible, but always fits */
  /* width: min(80vw, 720px, calc(100vh * 9/16)); */
  /* This is the magic: limits width to not exceed what 9:16 allows for current viewport height */
}

#container-9-16 {
  aspect-ratio: 9/16;
  background-color: #EEEEEE;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  /* These two lines ensure the card never exceeds the viewport */
  /* max-width: min(80vw, 720px); */
  max-width: min(100vw, 720px);
  max-height: 100vh;
  max-height: 100dvh;
  /* This ensures the card is as big as possible, but always fits */
  /* width: min(80vw, 720px, calc(100vh * 9/16)); */
  width: min(100vw, 720px, calc(100vh * 9/16));
  width: min(100vw, 720px, calc(100dvh * 9/16));
  /* This is the magic: limits width to not exceed what 9:16 allows for current viewport height */
}


#intro-card img {
  /* width: 100%; */
  /* height: 100%; */
  /* border-radius: 15px; */

}

/* CSS */
.button-1 {
  background-color: #000000;
  border-radius: 50px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  line-height: 2.5vh;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 1vh 1.6vh;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  /* margin: 10px; */
  z-index: 22;
  margin: 10px 50px;
  height: 5vh;
  font-size: 2.5vh;
  width: 90%;
}

.button-1:hover,
.button-1:focus {
  background-color: #464646;
}

/* #canvas-container{
  width: 100vw;
  height: 100vh;
  position:absolute;
  top: 0;
  left: 0;
  z-index: 20 !important;
  display: block;
} */

.btn-capture {
  z-index: 21;
  /* width: 50px; */
  /* transform: translateX(50%); */
  display: none;
}

#ui-capture {
  z-index: 21;
  width: 100%;
  min-height: 100vh;
  min-height: 100dvh;
  position: relative;
  pointer-events: none;
  /* height: 100%; */
}

#btn-cross {
  margin-left: 2rem;
  margin-top: 2rem;
}

#btn-back {
  /* margin-left: 2rem; */
  /* margin-top: 0.5rem; */
  cursor: pointer;
  margin: 4vh 0 0 1vh;
  pointer-events: auto;
  cursor: pointer;
  position: absolute;
}

#btn-download {
  position: absolute;
  bottom: 1.5vh;
  left: 50%;
  transform: translateX(-50%);
  pointer-events: auto;
  cursor: pointer;
}

#btn-download img {
  width: 7vh;
}

.btn-capture img {
  width: 5vh;

}

#splash-img {
  display: none;
}

#intro-logo {
  /* width: 30vh; */
  height: 25vh;
}

#intro-spacer {
  height: 15vh;
}

.intro-text {
  text-align: center;
  width: 80%;
  font-family: 'FuturaLTProMedium', sans-serif;
}

#intro-text-1 {
  font-size: 3vh;
}

#intro-text-2 {
  font-size: 2.5vh;
}

#intro-text-3 {
  font-size: 1.5vh;
  margin: 1vh 0;
}

#ui-countdown {
  /* z-index: 1; */
  position: absolute;
  font-size: 10rem;
  font-family: 'FuturaLTProMedium', sans-serif;
  height: 100%;
}

#countdown {
  position: relative;
  width: 40px;
  height: 40px;
  margin: 10px auto;
  display: none;
  /* Hidden by default */
  transform: scale(7.5) translateY(-10%);
  top: 50vh;
  z-index: 100;
  /* Enlarge the whole countdown */
}

.countdown-number {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: white;
  z-index: 10;
}

.countdown-circle {
  width: 40px;
  height: 40px;
  transform: rotate(-90deg);
  z-index: 10;
}


.countdown-circle .static-circle {
  fill: none;
  stroke: #fff;
  stroke-width: 0.5px;
  /* inverted idk why */
}

.countdown-circle circle {
  fill: none;
  stroke: #fff;
  stroke-width: 0.2px;
  stroke-dasharray: 113px;
  stroke-dashoffset: 0px;
  z-index: 10;
}



@keyframes countdown {
  to {
    stroke-dashoffset: 113px;
  }
}

#flash-overlay {
  position: absolute;
  top: 0;
  /* left: 0; */
  width: 100%;
  height: 100vh;
  height: 100dvh;
  background: white;
  opacity: 0;
  pointer-events: none;
  z-index: 9999;
  animation: none;
  pointer-events: none;
  /* Reset by default */

}

@keyframes flash {
  0% {
    opacity: 0;
  }

  9% {
    /* 0.3s / 3.3s ≈ 9% */
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}